
/* @Author: Administrator
* @Date:   2018-03-21 23:46:06
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-11 15:44:01
*/
.hide{
	display: none;
}
.block{
	display: block;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 4.7rem;
	background: url('../img/screen.png') no-repeat center bottom,-webkit-linear-gradient(top,#313A79,#3F90D1);
	background-size: contain;
	overflow: hidden;
}
.city{
	font-size: 0.2rem;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 0.24rem;
	margin-top: 0.17rem;
}
.box{
	width: 0.72rem;
	height: 0.44rem; 
	background:#f1ab62;
	border-radius: 0.08rem;
	margin: 0.29rem 0 0 0.08rem;
}
.box h2{
	font-size: 0.12rem;
	color: #fff;
	text-align: center;
	line-height: 0.16rem;
	margin-top: 0.06rem;
}
.box h3{
	font-size: 0.12rem;
	color: #fff;
	text-align: center;
	line-height: 0.16rem;
}
.tamputer{
	font-size: 0.46rem;
	color: #fff;
	line-height: 0.63rem;
	margin: 0.05rem 0 0 2.22rem;
	width: 0.9rem;
}
.condition{
	font-size: 0.2rem;
	color: #fff;
	text-align: center;
	line-height: 0.38rem;
}
.humidity{
	width: 0.6rem;
	height: 0.21rem;
	margin: 0 auto;
}
.humidity span{
	font-size: 0.14rem;
	color: #fff;
	float: left;
	line-height: 0.21rem;
}
.humidity div{
	font-size: 0.11rem;
	color: #fff;
	float: right;
	line-height: 0.21rem;
}
.wenzi{
	width: 100%;
	height: 0.26rem;
	margin-top: 0.45rem;
	font-size: 0.16rem;
	color: #fff;
	text-align: center;
	line-height: 0.26rem;
	font-family: rockwell;
}
/* 今明两天天气开始 */
.days{
	width: 100%;
	height: 1.02rem;
	/* background: red; */
	overflow: hidden;
	border-bottom: 0.01rem solid #e4e4e4;
	margin-bottom: 0.1rem;
}
.day_box{
	width: 4.61rem;
	height: 0.52rem;
	/* background: pink; */
	margin: 0 auto;
	margin-top: 0.26rem;
	display: flex;
}
.today{
	width: 2.3rem;
	height: 0.5rem;
	/* background: yellow; */
	border-right: 0.01rem solid #f0f0f0;
	padding-right: 0.19rem;
	box-sizing: border-box;
}
.top{
	width: 100%;
	height: 0.16rem;
	/* background: #58a; */
	margin-bottom: 0.04rem;
	display: flex;
	justify-content: space-between;
}
.bottom{
	width: 100%;
	height: 0.32rem;
	/* background: green; */
	display: flex;
	justify-content: space-between;
}
.text{
	font-size: 0.14rem;
	color: #434343;
}
.temperture_box{
	/* width: 0.36rem; */
	height: 0.16rem;
	/* background: red; */
	/* margin-right: 0.2rem; */
}
.temperture_box span{
	font-size: 0.12rem;
	color: #434343;
	float: left;
}
.bottom span{
	font-size: 0.14rem;
	color: #434343;
	line-height: 0.32rem;
}
.bottom div{
	width: 0.18rem;
	height: 0.18rem;
	/* background: red; */
    margin-top: 0.07rem;
    margin-right: 0.22rem;
    background: url('../img/0.png') no-repeat center;
    background-size: cover;
}
.tomorrow{
	width: 2.3rem;
	height: 0.5rem;
	/* background: yellow; */
	border-right: 0.01rem solid #f0f0f0;
	padding-left: 0.19rem;
	box-sizing: border-box;
}
.tomorrow .bottom div{
	background: url('../img/1.png') no-repeat center;
    background-size: cover;
}
/* 今明两天天气结束 */
/* 未来天气开始 */
.hours{
	width: 100%;
	height: 1.36rem;
	background: #fff;
	border-bottom: 0.01rem solid #e4e4e4;
	overflow-x: auto;
	padding-top: 0.31rem;
	box-sizing: border-box;
}
.hours::-webkit-scrollbar{
    height: 0;
}
.wrap{
	/* width: 10rem; */
	height: 0.77rem;
	/* background: red; */
	display: flex;
}
.wrap .now{
	width: 0.77rem;
	height: 0.77rem;
	/* background: yellow; */
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}
.now .now_time{
	width: 100%;
	font-size: 0.12rem;
	color: #a599b2;
	text-align: center;
}
.now .now_icon{
	width: 0.22rem;
	height: 0.22rem;
	background: url('../img/0.png') no-repeat center;
	background-size: cover;
	margin: 0 auto;
}
.now .now_temp{
	width: 100%;
	font-size: 0.12rem;
	color: #434343;
	text-align: center;
}
/* 未来天气结束 */
/* 近期天气开始 */
.recent{
	width: 100%;
	height: 3.91rem;
	/* background: red; */
	margin-top: 0.1rem;
	border-top: 0.01rem solid #e4e4e4;
	border-bottom: 0.01rem solid #e4e4e4;
    padding-top: 0.25rem;
    box-sizing: border-box;
    overflow-x:auto; 
}
.wrap1{
	/* width: 10rem; */
	height: 3.37rem;
	/* background: pink; */
	display: flex;
}
.recent::-webkit-scrollbar{
	height: 0;
}
.con{
	width: 0.83rem;
	height: 100%;
	/* background: yellow; */
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.con_date{
	width: 100%;
	height: 0.14rem;
	/* background: green; */
	font-size: 0.14rem;
	color: #b2b2b2;
	float: left;
	line-height: 0.14rem;
	text-align: center;
}
.con_date span{
	font-size: 0.14rem;
	color: #b2b2b2;
	float: left;
	line-height: 0.14rem;
}
.con_date span:first-child{
	margin-left: 0.26rem;
} 
.con_weaH{
	width: 100%;
	font-size: 0.15rem;
	color: #b2b2b2;
	text-align: center;
}
.con_picH{
	width: 0.22rem;
	height: 0.22rem;
	/* background: blue; */
	margin: 0 auto;
	background: url('../img/0.png') no-repeat center;
	background-size: cover;
}
.con_high{
	width: 100%;
	font-size: 0.14rem;
	color: #b2b2b2;
	text-align: center;
}
.con_low{
	width: 100%;
	font-size: 0.14rem;
	color: #b2b2b2;
	text-align: center;
}
.con_picL{
	width: 0.22rem;
	height: 0.22rem;
	/* background: blue; */
	margin: 0 auto;
	background: url('../img/0.png') no-repeat center;
	background-size: cover;
}
.con_weaL{
	width: 100%;
	font-size: 0.15rem;
	color: #b2b2b2;
	text-align: center;
}
.con_wind{
	width: 100%;
	font-size: 0.15rem;
	color: #b2b2b2;
	text-align: center;
}
.con_level{
	width: 100%;
	font-size: 0.15rem;
	color: #b2b2b2;
	text-align: center;
}
/* 近期天气结束 */

.living{
	width: 100%;
	height: 1.88rem;
	/* background: pink; */
	border: 0.01rem solid #e6e6e6;
	margin-top: 0.1rem;
}
.shang{
	width: 100%;
	height: 0.93rem;
	/* background: red; */
	border-bottom: 0.01rem solid #e6e6e6;
}
.xia{
	width: 100%;
	height: 0.93rem;
	/* background: green; */
}
.perbox{
	/* 百分比布局 */
	width:25%;
	/* width: 1.24rem; */
	height: 0.93rem;
	/* background: blue; */
	float: left;
	border-right: 0.01rem solid #e6e6e6;
	/* 自定义盒子模型   边框在内部 */
	box-sizing: border-box;
}
/* 设置第四个和第八个孩子没有右边框也可用： 
	.prebox:nth-child(4n){
	 border-right:none;
    .prebox:nth-child(4)~li{}
    //~找第四个元素后面的所有同级元素
    .prebox:nth-child(4)+li{}
    //+找第四个元素紧挨着的兄弟元素，仅一个
	};
*/
.perbox:last-child{
	border-right: none;
}
.small{
	width: 0.2rem;
	height: 0.18rem;
	/* background: yellow; */
	margin: 0.15rem 0.52rem  0.10rem;
}
.small img{
	display: block;
	width: 100%;
	height: auto;
}
.shuzi{
	font-size: 0.14rem;
	color: #434343;
	text-align: center;
	margin-bottom: 0.1rem;
}
.xianxing{
	font-size: 0.12rem;
	color: #999999;
	text-align: center;
}
.location{
	width: 100%;
	height: 100%;
	background: #ffffff;
	/* 如果没有给父元素添加position: relative;默认是给body添加的*/
	position: absolute;
	left: 0;
	top: 0;
	/* 让元素消失 */
	/* display: none; */
}
.search{
	width: 100%;
	height: 0.45rem;
	background: #fff;
	border-bottom: 0.01rem solid #eeeeee;
	padding-top: 0.07rem;
	padding-left: 0.13rem;
	box-sizing: border-box;
	/* 固定定位 */
	position: fixed;
	/* 设置位置 */
	top: 0;
	left: 0;
	/* 层级 */
	z-index: 999;

}
.search-box{
	width: 4.69rem;
	height: 0.3rem;
	/* background: pink; */
}
.s-left{
	width: 4.27rem;
	height: 100%;
	background: #f2f2f2;
	border-radius: 0.15rem;
	float: left;
}
.s-logo{
	width: 0.14rem;
	height: 0.14rem;
	/* background: yellow; */
	margin: 0.08rem;
	float: left;
	background:url('../img/sousuo_03.png') no-repeat center;
	background-size: cover;
}
input{
	float: right;
	background: #f2f2f2;
	width: 3.9rem;
	height: 0.3rem;
	border: none;
	/* 圆角一般取盒子高度的一半 */
	border-top-right-radius:0.15rem;
	border-bottom-right-radius:0.15rem;
}
/* 获取焦点 */
input:focus{
	/* 外边线消失 */
	outline: none;
}
.s-right{
	width: 0.32rem;
	height: 0.14rem;
	/* background: #fff; */
	font-size: 0.14rem;
	line-height: 0.14rem;
	color: #434343;
	float:right;
	margin-top: 0.08rem;
}
.citybox{
	width:100%;
	/* height:4rem; */
	background: #fff;
	/* background: pink; */
	padding:0.08rem 0.13rem 0;
	box-sizing: border-box;
	/* search固定定位后，浮在上面，然后city-box位于search下面，因此要给city-box一个上边距 */
	margin-top: 0.45rem;
}
.citybox h2{
	font-size: 0.16rem;
	color: #434343;
	line-height: 0.46rem;
	font-weight:normal;
}
.con1{
	width: 100%;
	height: auto;
	/* 解决子元素浮动问题，因为父元素高度不确定 */
	overflow: hidden;
}
.son{
	width: 1.52rem;
	height: 0.32rem;
	background: #f2f2f2;
	font-size: 0.16rem;
	color: #434343;
	text-align: center;
	line-height: 0.32rem;
	border-radius: 0.16rem;
	float:left;
	margin-right: 0.09rem;
	margin-bottom: 0.12rem;
}
.son:nth-child(3n){
	margin-right: 0;
}